body{
    background: url("quiz.png");
    background-size: 1440px 830px;
}
.main{
    color:white;
    font-size:50px;
    font-weight: 550;
    margin-left:420px;
    margin-top:200px;
    width:900px;
    height:200px;
}
.line1{
    display: flex;

    margin-bottom: 50px;
}
.line2{
    display: flex;

}
.options{
    margin-left:260px;
    width:1000px;
    height:300px;
}
.opt{
    width:500px;
    height:70px;
    margin-right: 70px;
    background-color:thistle;
    border-radius: 8px;
    border-color:thistle;
    font-size:25px;
    color:rgb(95, 53, 95);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.opt:hover{
    background-color: rgb(55, 22, 55);
    color:beige;
    border-color: rgb(55, 22, 55);
}
.next{
    margin-top:40px;
    margin-left:1200px;
    height:50px;
    width: 180px;
    text-align: center;
    text-decoration: none;

    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}
.next:hover{
    background-color: #218838;
    transform: scale(1.05);
}