body{
    background:linear-gradient(to bottom right, #e0f7fa, #ffffff);
}
.head{
    font-size:80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:#333333;
}
.eg{
    border-radius: 8px;
    border-color: #d7eaf3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #d7eaf3;
    width:1000px;
    height:200px;
    margin-left:200px;
    padding-top:40px;
    margin-bottom: 30px;
    padding-left:50px;
    padding-right:50px;
    font-size:20px;
    border: 1px solid #cae7f5;
}
.ans{
    color:#555555;
}
.eg:hover{
    background-color: #cce7ff;
    transform: scale(1.02);
}