body{
    background:linear-gradient(to bottom right, #e0f7fa, #ffffff);
}
.head{
    font-size:80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color:#333333;
}
.eg {
    background-color: #cce6ff; /* Light blue */
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    max-height: 80px; /* Initially show only question */
}

.ans {
    display: none; /* Hide answer initially */
}

.eg.expanded {
    max-height: 250px; /* Increase height on hover */
}

.eg.expanded .ans {
    display: block; /* Show answer on hover */
}
